@if (Request.IsAuthenticated) {
    <text>
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Управление" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Exit</a>
        }
    </text>
} else {
        @Html.ActionLink("Registry", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Enter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
}
