@{
    ViewBag.Title = "People search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    @using (Ajax.BeginForm("PeopleSearchSurname", "Chat", new AjaxOptions { UpdateTargetId = "searchPeopleResult" }))
    { 
        <input type="text" name="surname" />
        <input type="submit" value="Search" />
    }
    @Html.Partial("PeopleSearchSurname")
</div>
